<!-- Динамический айдишник, бэкграунд, data-title -->
<div id="1" class="event-card" style="" data-title="Здесь-как-на-небе">
  <div class="event-card__text-box">
    <!-- Динамический заголовок -->
    <div class="event-card__title-box">
      <h2 class="event-card__title">
        Конференция прославления
      </h2>
    </div>
    <!-- Динамическое описание -->
    <div class="event-card__descr-box">
      <p class="event-card__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iste cum amet aperiam, nemo rerum suscipit quasi porro. Velit, tenetur. Repellat numquam quam, quod voluptatum odio neque distinctio in voluptatibus.</p>
    </div>
  </div>
  <div class="event-card__btn-box">
    <!-- Динамический тэг -->
    <div class="event-card__tag-box">
      <div class="event-card__tag">
        Событие
      </div>
    </div>
  </div>
  <!-- Динамический href на событие -->
  <a class="event-card__link-absolute" href="#"></a>
</div>