<div class="calendar">
  <div id="calendat-list" class="calendar__list list">
    <div id="calendar-item-1" class="list__item ">
      <div class="list__date-wrapper">
        <div class="list__day-number">5</div>
        <div class="list__day-info-wrapper">
          <div class="list__info">Декабрь</div>
          <div class="list__info">Среда</div>
        </div>
      </div>
      <div class="list__events">
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитвамолитвам </div>
          </div>
        </div>
      </div>
    </div>
    <div id="calendar-item-2" class="list__item ">
      <div class="list__date-wrapper">
        <div class="list__day-number">5</div>
        <div class="list__day-info-wrapper">
          <div class="list__info">Декабрь</div>
          <div class="list__info">Среда</div>
        </div>
      </div>
      <div class="list__events">
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитва</div>
          </div>
        </div>
      </div>
    </div>
    <div id="calendar-item-3" class="list__item ">
      <div class="list__date-wrapper">
        <div class="list__day-number">5</div>
        <div class="list__day-info-wrapper">
          <div class="list__info">Декабрь</div>
          <div class="list__info">Среда</div>
        </div>
      </div>
      <div class="list__events">
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитва</div>
          </div>
        </div>
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитва</div>
          </div>
        </div>
      </div>
    </div>
    <div id="calendar-item-4" class="list__item  list__item--weekend">
      <div class="list__date-wrapper">
        <div class="list__day-number">5</div>
        <div class="list__day-info-wrapper">
          <div class="list__info">Декабрь</div>
          <div class="list__info">Среда</div>
        </div>
      </div>
      <div class="list__events">
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитва</div>
          </div>
        </div>
      </div>
    </div>
    <div id="calendar-item-5" class="list__item  list__item--weekend">
      <div class="list__date-wrapper">
        <div class="list__day-number">5</div>
        <div class="list__day-info-wrapper">
          <div class="list__info">Декабрь</div>
          <div class="list__info">Среда</div>
        </div>
      </div>
      <div class="list__events">
        <div class="list__event">
          <div class="list__event-time-wrapper">
            <div class="list__event-time">12:00</div>
          </div>
          <div class="list__event-descr-wrapper">
            <div class="list__event-title">Общецерковная молитва</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>