<div class="calendar">
  <div class="calendar__wrapper">
    <div class="calendar__list calendar-list">
      <!-- День -->
      <div class="calendar-list__item">
        <!-- Обертка с информацией по дню -->
        <div class="calendar-list__day-wrapper">
          <!-- Дата -->
          <div class="calendar-list__day">
            <!-- Число -->
            <span class="calendar-list__day-digit">5</span>
          </div>
          <!-- Месяц и день -->
          <div class="calendar-list__day-info-wrapper">
            <!-- Месяц -->
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <!-- День -->
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <!-- Обертка с информацией событиям -->
        <div class="calendar-list__events">
          <!-- Событие -->
          <div class="calendar-list__event">
            <!-- Обертка со временем события -->
            <div class="calendar-list__time-wrapper">
              <!-- Время события -->
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <!-- Обертка с описанием события -->
            <div class="calendar-list__descr-wrapper">
              <!-- Описание события -->
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <!-- День -->
      <div class="calendar-list__item">
        <!-- Обертка с информацией по дню -->
        <div class="calendar-list__day-wrapper">
          <!-- Дата -->
          <div class="calendar-list__day">
            <!-- Число -->
            <span class="calendar-list__day-digit">5</span>
          </div>
          <!-- Месяц и день -->
          <div class="calendar-list__day-info-wrapper">
            <!-- Месяц -->
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <!-- День -->
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <!-- Обертка с информацией событиям -->
        <div class="calendar-list__events">
          <!-- Событие -->
          <div class="calendar-list__event">
            <!-- Обертка со временем события -->
            <div class="calendar-list__time-wrapper">
              <!-- Время события -->
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <!-- Обертка с описанием события -->
            <div class="calendar-list__descr-wrapper">
              <!-- Описание события -->
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <!-- День -->
      <div class="calendar-list__item">
        <!-- Обертка с информацией по дню -->
        <div class="calendar-list__day-wrapper">
          <!-- Дата -->
          <div class="calendar-list__day">
            <!-- Число -->
            <span class="calendar-list__day-digit">5</span>
          </div>
          <!-- Месяц и день -->
          <div class="calendar-list__day-info-wrapper">
            <!-- Месяц -->
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <!-- День -->
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <!-- Обертка с информацией событиям -->
        <div class="calendar-list__events">
          <!-- Событие -->
          <div class="calendar-list__event">
            <!-- Обертка со временем события -->
            <div class="calendar-list__time-wrapper">
              <!-- Время события -->
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <!-- Обертка с описанием события -->
            <div class="calendar-list__descr-wrapper">
              <!-- Описание события -->
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <!-- День -->
      <div class="calendar-list__item">
        <!-- Обертка с информацией по дню -->
        <div class="calendar-list__day-wrapper">
          <!-- Дата -->
          <div class="calendar-list__day">
            <!-- Число -->
            <span class="calendar-list__day-digit">5</span>
          </div>
          <!-- Месяц и день -->
          <div class="calendar-list__day-info-wrapper">
            <!-- Месяц -->
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <!-- День -->
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <!-- Обертка с информацией событиям -->
        <div class="calendar-list__events">
          <!-- Событие -->
          <div class="calendar-list__event">
            <!-- Обертка со временем события -->
            <div class="calendar-list__time-wrapper">
              <!-- Время события -->
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <!-- Обертка с описанием события -->
            <div class="calendar-list__descr-wrapper">
              <!-- Описание события -->
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <!-- День -->
      <div class="calendar-list__item">
        <!-- Обертка с информацией по дню -->
        <div class="calendar-list__day-wrapper">
          <!-- Дата -->
          <div class="calendar-list__day">
            <!-- Число -->
            <span class="calendar-list__day-digit">5</span>
          </div>
          <!-- Месяц и день -->
          <div class="calendar-list__day-info-wrapper">
            <!-- Месяц -->
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <!-- День -->
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <!-- Обертка с информацией событиям -->
        <div class="calendar-list__events">
          <!-- Событие -->
          <div class="calendar-list__event">
            <!-- Обертка со временем события -->
            <div class="calendar-list__time-wrapper">
              <!-- Время события -->
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <!-- Обертка с описанием события -->
            <div class="calendar-list__descr-wrapper">
              <!-- Описание события -->
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>