<div class="calendar">
  <div class="calendar__wrapper">
    <div class="calendar__list calendar-list">
      <div class="calendar-list__item">
        <div class="calendar-list__day-wrapper">
          <div class="calendar-list__day">
            <span class="calendar-list__day-digit">5</span>
          </div>
          <div class="calendar-list__day-info-wrapper">
            <span class="calendar-list__info" id="calendar-month">Июль</span>
            <span class="calendar-list__info" id="calendar-day">Среда</span>
          </div>
        </div>
        <div class="calendar-list__events">
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-list__item">
        <div class="calendar-list__day-wrapper">
          <div class="calendar-list__day">
            <span class="calendar-list__day-digit">5</span>
          </div>
          <div class="calendar-list__day-info-wrapper">
            <span class="calendar-list__info">Июль</span>
            <span class="calendar-list__info">Среда</span>
          </div>
        </div>
        <div class="calendar-list__events">
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-list__item">
        <div class="calendar-list__day-wrapper">
          <div class="calendar-list__day">
            <span class="calendar-list__day-digit">5</span>
          </div>
          <div class="calendar-list__day-info-wrapper">
            <span class="calendar-list__info">Июль</span>
            <span class="calendar-list__info">Среда</span>
          </div>
        </div>
        <div class="calendar-list__events">
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-list__item">
        <div class="calendar-list__day-wrapper">
          <div class="calendar-list__day">
            <span class="calendar-list__day-digit">5</span>
          </div>
          <div class="calendar-list__day-info-wrapper">
            <span class="calendar-list__info">Июль</span>
            <span class="calendar-list__info">Среда</span>
          </div>
        </div>
        <div class="calendar-list__events">
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-list__item">
        <div class="calendar-list__day-wrapper">
          <div class="calendar-list__day">
            <span class="calendar-list__day-digit">5</span>
          </div>
          <div class="calendar-list__day-info-wrapper">
            <span class="calendar-list__info">Июль</span>
            <span class="calendar-list__info">Среда</span>
          </div>
        </div>
        <div class="calendar-list__events">
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
          <div class="calendar-list__event">
            <div class="calendar-list__time-wrapper">
              <span class="calendar-list__event-time">18:30</span>
            </div>
            <div class="calendar-list__descr-wrapper">
              <span class="calendar-list__event-title">Общецерковная молитва</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>