<nav class="nav">
  <ul class="nav__wrapper">
    <li class="nav__item">
      <a class="nav__link" href="#">О нас</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">События</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Служения</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Обучение</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Контакты</a>
    </li>
    <li class="nav__item youtube">
      <a class="nav__link youtube__link" href="#" ></a>
    </li>
  </ul>
</nav>