<div class="socials">
  <ul class="socials__list list">
    <li class="list__item">
      <a class="list__link" id="instagrammLink" href="#"
        style="background-image: url(../../img/svg/socials/telegramm.svg);"></a>
    </li>
    <li class="list__item">
      <a class="list__link" id="twitterLink" href="#" style="background-image: url(../../img/svg/socials/vk.svg);"></a>
    </li>
    <li class="list__item">
      <a class="list__link" id="facebookLink" href="#" style="background-image: url(../../img/svg/socials/youtube-white.svg);"></a>
    </li>
  </ul>
</div>