<div class="socials">
    <ul class="socials__list">
        <li class="socials__item">
            <div class="socials__img" style="background-image: url(./../../img/svg/socials/twitter-black.svg);">
                <a class="socials__link" href="#"></a>
            </div>
        </li>
        <li class="socials__item">
            <div class="socials__img" style="background-image: url(./../../img/svg/socials/inst-black.svg);">
                <a class="socials__link" href="#"></a>
            </div>
        </li>
        <li class="socials__item">
            <div class="socials__img" style="background-image: url(./../../img/svg/socials/facebook-black.svg);">
                <a class="socials__link" href="#"></a>
            </div>
        </li>
    </ul>
</div>