@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/MullerLight.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.woff') format('woff');
    font-weight: 400;
}