body, html {
    min-height: 100vh;
    background: #191919;
    font-family: $fontMain, sans-serif;
    font-size: 22px;
    // overflow-x: clip;
}

.main__body {
    padding: 16px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.container--small {
    max-width: 1375px !important;
}

.white-box {
    background-color: $white;
    padding: 95px 0;
    border-radius: $br100;
    margin-top: -95px;
}

h2 {
    font-family: $fontSecond, sans-serif;
    font-weight: 400;
    line-height: 120%; /* 60px */
}