
// Colors
$grey: #191919;
$white: #fff;
$whiteGrey: #333;
$whiteGreyTrans: #828282;
$black: #000;
$titlesColor: #1C1C1C;
$moodGreen: #008B8E;
$orangeCalendar: #F28A91;
$yellow: #f0ab4b;

$transition: .4s ease-in-out;

// Burger Menu
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'MullerRegular', sans-serif;
$fontMainMedium: 'MullerMedium', sans-serif;
$fontSecond: "Unbounded", sans-serif;

// Helpers
$index: calc(1vw + 1vh);
$br100: 100px;

// Section Margins
$sectionMarginDesktop: 140px;
$sectionMarginTablet: 120px;
$sectionMarginPhone: 90px;

@mixin sectionMargin {
  @include desktop {
    margin-bottom: $sectionMarginDesktop;
  }

  @include tablet {
    margin-bottom: $sectionMarginTablet;
  }

  @include phone {
    margin-bottom: $sectionMarginPhone;
  }
}

// Font Size

// $h1: 70px;
$h1: clamp(25px, 5vw, 70px);
$h2: clamp(30px, 4vw, 40px);
$p: clamp(16px, 3vw, 20px);