// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerWidthSmall: 1375;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1024: 1024.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$grey: #191919;
$white: #fff;
$whiteGrey: #333;
$whiteGreyTrans: #828282;
$black: #000;
$titlesColor: #1C1C1C;
$moodGreen: #008B8E;

// Burger Menu
$burgerBreakpoint: $breakpoint1024;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'MullerRegular';
$fontSecond: "Unbounded";

// Helpers
$cardPosition: 300px;