<nav class="nav">
    <ul class="nav__list list">
        <li class="list__item">
            <a class="list__link" href="/about">О нас</a>
        </li>
        <li class="list__item">
            <a class="list__link" href="/events">События</a>
        </li>
        <li class="list__item">
            <a class="list__link" href="/ministry">Служение</a>
        </li>
        <li class="list__item">
            <a class="list__link" href="/teaching">Обучение</a>
        </li>
        <li class="list__item">
            <a class="list__link" href="/contacts">Контакты</a>
        </li>
        <li id="youtubeBox">
            <div class="list__item" id="youtubeLink">
                <a class="youtube-link" href="https://www.youtube.com/@NewLifeChelTV" target="_blank"></a>
            </div>
        </li>
    </ul>
</nav>