<div class="event">
  <div class="event__wrapper">
    <div class="event__text-box">
      <h3 class="event__title">Конференция прославления</h3>
      <p class="event__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem.</p>
    </div>
    <div class="event__content-box">
      <div class="event__tag-box">
        <span class="event__tag">События</span>
      </div>
      <div class="event__link-box">
        <a class="event__link" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</div>