<div class="burger-menu">
  <ul class="burger-menu__list list">
    <li class="list__item">
      <a href="#" class="list__link">О нас</a>
    </li>
    <li class="list__item">
      <a href="#" class="list__link">События</a>
    </li>
    <li class="list__item">
      <a href="#" class="list__link">Служения</a>
    </li>
    <li class="list__item">
      <a href="#" class="list__link">Обучение</a>
    </li>
    <li class="list__item">
      <a href="#" class="list__link">Контакты</a>
    </li>
    <li class="list__item youtube">
      <a class="list__link youtube__link" href="#"></a>
    </li>
  </ul>
</div>