<div class="burger-menu">
  <div class="burger-menu__menu menu-wrapper">
    <ul class="menu-wrapper__list list">
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link"></a>
      </li>
    </ul>
  </div>
</div>