#connect {

  @include sectionMargin;

  .connect__wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      bottom: -40%;
      left: 24%;
      width: 295px;
      height: 117px;
      background-image: url('../img/svg/red-lines.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include tablet {
        display: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 5%;
      right: 10%;
      width: 315px;
      height: 317px;
      background-image: url('../img/svg/green-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include tablet {
        display: none;
      }
    }
  }

  .connect__title-box {

    margin-bottom: 4%;

    @include phone {
      margin-bottom: 5%;
    }

    .connect__title {
      font-size: clamp(30px, 3.5vw, 60px);
      // font-size: 60px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  .connect__socials-box {
    .list {

      justify-content: center;
      gap: 37px;

      @include phone {
        gap: 20px;
      }

      &__item {
        width: 92px;
        height: 92px;
        background-color: $grey;

        @include phone {
          width: 60px;
          height: 60px;
        }

        &:hover {
          background-color: #f0ab4b;
        }
      }

      &__link {
        width: 37px;
        height: 37px;
      }
    }
  }
}