.donate-btn {
  position: relative;
  max-width: 211px;
  outline: none;
  border: 1px solid $white;
  border-radius: 500px;
  background: none;
  color: $white;
  font-size: clamp(14px, 2vw, 18px);
  font-family: $fontMainMedium;
  text-transform: uppercase;
  padding: 1.4% 2%;
  cursor: pointer;
  transition: padding $transition;
  overflow: hidden;

  &:hover {
    padding: 1.4% 2% 1.4% 2.9%;

    &::after {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 16px;
    width: 16px;
    height: 16px;
    background-image: url(../img/svg/white-btn-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-35px);
    opacity: 0;
    transition: all .7s ease-in-out;
  }
}