.message-box {
  position: relative;
  max-width: 918px;
  max-height: 589px;
  padding-bottom: 485px;
  overflow: hidden;
  border-radius: 50px;
}

.year-message-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}